body {
    @import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins&family=Roboto+Mono&display=swap');
    font-family: 'PT Serif', serif;
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

.container-fluid{
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 60px;
}
.slider-text{
    font-size: 20px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
width: 6rem;
height: 4rem;
}

footer{
    background-color: #0b0d17;
    padding: 50px 100px;
}
.card-title{
   text-align: center;
   font-size: 25px;
}
.card-text{
    text-align: center;
}


element.style {
}
.list-group-flush>.list-group-item {
    border-width: 0 0 1px;
}
.list-group-item+.list-group-item {
    border-top-width: 0;
}
.list-group-item {
    border: none;
}

.chose-plan{
    background-color:gray;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700px;
    font-family: 'PT Serif', serif;
}

.package-card{
    border: 1px solid white;
    border-radius: 20px;
}
.hot-offer{
    margin-top: -25px;
    padding: 0px 10px;
    background-color: black;
    color: white;
}

.hot-offer ul li {
    background-color: black;
    color: white;
}

.discount{
    margin-top: -35px;
    font-size: 20px;
}

