body {
    @import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins&family=Roboto+Mono&display=swap');
    font-family: 'PT Serif', serif;
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

.container-fluid{
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 60px;
}
.slider-text{
    font-size: 20px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
width: 6rem;
height: 4rem;
}

footer{
    background-color: #0b0d17;
    padding: 50px 0px;
}